<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyfx.business.dao.OperatorMapper">

    <!-- 根据uid查询一个用户信息 -->
    <select id="selectOperatorById" parameterType="Integer"
            resultType="com.wyfx.business.entity.OperatorInfo">
        select *
        from operation_log
        where uid = #{uid}
    </select>

    <!-- 根据操作员姓名查找信息-->
    <select id="selectOperatorByName" parameterType="String"
            resultType="com.wyfx.business.entity.OperatorInfo">
        select *
        from operation_log
        where operator = #{operator}
    </select>

    <!-- 根据分页查找信息 -->
    <select id="selectOperatorByPage" parameterType="map"
            resultType="com.wyfx.business.entity.OperatorInfo">
        select *
        from operation_log
        limit #{currIndex},#{pageSize}
    </select>

    <!-- 查询所有用户信息 -->
    <select id="selectAllOperator" resultType="com.wyfx.business.entity.OperatorInfo">
        select *
        from operation_log
    </select>

    <!-- 根据日期范围进行查找用户信息 -->
    <select id="selectOperatorNyDate"  parameterType="map"
            resultType="com.wyfx.business.entity.OperatorInfo">
        select *
        from operation_log
        where date
        between #{startdate} and #{enddate}
            </select>


    <!-- 添加一个用户，#{uname}为 com.mybatis.po.User属性值 -->
    <insert id="addOperator" parameterType="com.wyfx.business.entity.OperatorInfo">
        insert into operation_log (account_type, operator, operation_type, operation_behavior, related_data,date)
        values (#{account_type}, #{operator}, #{operation_type}, #{operation_behavior}, #{related_data},#{date})
    </insert>
    <!--修改一个用户 -->
    <update id="updateOperator" parameterType="com.wyfx.business.entity.OperatorInfo">
        update operation_log
        set account_type = #{account_type},
            operator  = #{operator},
            operation_type = #{operation_type},
            operation_behavior  = #{operation_behavior},
            related_data = #{related_data}
        where uid = #{uid}
    </update>
    <!-- 删除一个用户 -->
    <delete id="deleteOperator" parameterType="Integer">
        delete
        from operation_log
        where uid
                  = #{uid}
    </delete>
</mapper>